body {
    background: #2D2D2D;
    color: #DCDCDC;
    font-family: Terminus;
    font-size: 16px
}
#container {
    margin-top: 100px;
    margin-bottom: 0px;
}
a {
    color: #545490; 
}
ul {padding-left: 20px}
form {
    text-align: center;
}
input{
    width: 75%;
    padding: 4px;
    margin: 10px;
    border: 1px solid #1a1a1a;
    background-color: #2d2d2d;
    color: #dcdcdc;
}
#ful {float:left;}
#Section {float:left;width:175px;margin-right:35px;}

.awe {font-family:font-awesome}
